/*------------------------------------*\
    #BODY
\*------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/**
 * Body base styles
 */
body {
    background: $color-white;
    color: $color-black;
	display: flex;
	flex-direction: column;
	-webkit-text-size-adjust: 100%;
}

body {
    //iPhoneX Notch fixes
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    overflow-x:hidden;

    &::after {
        display: none;
        content: 'mobile-portrait';

        @include respond-to('mobile-extra-small') {
            content: 'mobile-extra-small';
        }

        @include respond-to('mobile-portrait-only') {
            content: 'mobile-portrait-only';
        }

        @include respond-to('mobile-landscape') {
            content: 'mobile-landscape';
        }

        @include respond-to('tablet-portrait') {
            content: 'tablet-portrait';
        }

        @include respond-to('tablet-big') {
            content: 'tablet-big';
        }

        @include respond-to('desktop') {
            content: 'desktop';
        }

        @include respond-to('desktop-large') {
            content: 'desktop-large';
        }
    }
}
