/*------------------------------------*\
    # TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.t-suggestion {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    &:first-letter{
        text-transform: capitalize;
    }
}

.t-chip {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    // line-height: 41px;
    &:first-letter {
        text-transform: capitalize;
    }
}

.t-ui-button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    &:first-letter{
        text-transform: capitalize;
    }
}

.t-ui-settings {
    font-family: 'Open Sans', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
}
